body {
    display: flex;
    justify-content: center;      
    align-items: center; 
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;           
    margin: 0;
}

header {
    padding-bottom: 1rem;
}

h1 {
    color: rgb(48, 48, 116);
    text-align: center;
}

p {
    text-align: center;
}

.btn {
    background-color: rgb(92, 92, 192);
    padding: 1rem 1.5rem ;  
    border-radius:0.5rem; 
    color: white;
    cursor: pointer;
    border: none;
    font-size: medium;
    margin: 1rem;
}

.btn:hover {
    background-color: rgb(133, 133, 196);   
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2)
}